/* All code here are self-written */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #fca597;
    color: white;
    padding: 1rem;
    text-align: center;
}
table {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
}
th, td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #fca597;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
button {
    background-color: #fca597; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    border-radius: 15px;        
}

button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #fca597;
}